.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5d0fe;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  width: 25%;
  height: 30%;
}
.main-heading {
  font-family: 'Roboto';
  font-size: 28px;
  color: #000000;
}
.input-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  padding: 10px;
  border-radius: 4px;
  width: 250px;
  border: 1px solid #cbd2d9;
  color: #323f4b;
  font-size: 14px;
}
.button {
  background-color: #d946ef;
  color: #ffffff;
  border: none;
  outline: none;
  height: 40px;
  width: 70px;
  border-radius: 4px;
  margin-left: 10px;
  font-family: 'Roboto';
  font-size: 15px;
}
.saved-data {
  font-family: 'Roboto';
  font-size: 14px;
  color: #cbd2d9;
}
